# =========================
# Python cache & compiled
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Deep Learning Models
# Exclude all PyTorch models
# inside models/
# =========================
models/**/*.pt
models/**/*.pth
models/**/*.ckpt
models/**/*.bin

# Optional:
# keep folder structure tracked
!models/.gitkeep