--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.7.1+cu128
torchvision==0.22.1+cu128
torchaudio==2.7.1+cu128

numpy<2
pillow
opencv-python
streamlit
ultralytics
supervision
pytorch-lightning
rfdetr==1.7.0
transformers==5.9.0

psutil
gputil
moviepy
imageio-ffmpeg
